.startButton {
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 20%;
    margin-right: 20%;
}

.exitButton{
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 20%;
    margin-right: 20%;
}

.backButton{
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 20%;
    margin-right: 20%;
}

.selectDrivers{
    text-align: center;
    margin-bottom: 250%;
    margin-left: 220%;
    margin-top: 10%;
}

.driversButton{
    background-color: grey;
    border-radius: 5%;
}